/* global */
@import url('https://fonts.cdnfonts.com/css/impacted');

body {
  margin: 0;
  padding: 0;
 }

/* rgb(54, 54, 54) */

:root {

  /* PlayPal Theme Colours: */
  --pp-main: rgba(248, 248, 228, 0.87);
  --pp-dark: #292b2c;
  --pp-accent: #8a7447;
  --pp-background: rgb(54, 54, 54);
  /* PlayPal Text Colours: */
  --pp-text-light: rgba(255, 255, 255, 0.87);
  --pp-text-dark: #242424;


  font-family: 'Impacted', sans-serif;
  line-height: 1.5;
    font-weight: 500;
    font-size: 1em;

    color-scheme: light dark;
    color: var(--pp-text-light);
    background-color: var(--pp-background);
    align-content: center;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
  }

  button {
    border-radius: 8px;
    border: 0.2em solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    color: var(--pp-text-dark);
    background-color: var(--pp-accent);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    background-color: var(--pp-text-light);
    border-color: var(--pp-main);
  }
  
  a {
    color: inherit;
    text-decoration: none;
    text-underline-offset:inherit
  }

  h1 {
    color: var(--pp-main);
  }
  h2 {
    color: var(--pp-main);
  }
  h3 {
    color: var(--pp-main);
  }

  input {
    width: 65%;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--pp-main);
    background-color: var(--pp-dark);
    transition: border-color 0.25s;
  }
  input:hover {
    border-color: var(--pp-main);
  }

  textarea {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    width: 60%;
    height: 100px;
    color: var(--pp-main);
    background-color: var(--pp-dark);
  }


  option {
    size: 1.9em;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--pp-main);
    background-color: var(--pp-dark);
    transition: border-color 0.25s;
  }
  option:hover {
    border-color: var(--pp-main);
  }

  select {
    size: 1.9em;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--pp-main);
    background-color: var(--pp-dark);
    transition: border-color 0.25s;
  }

  nav {
    margin: auto;
  }


  /* header */
  .wrapper {
    --background-color: black;
    display: grid;
    width: auto;
    height: auto;
    place-content: center;
    background-color: var(--background-color);
    min-height: 10vh;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: clamp(1.5rem, 1rem + 6vw, 10rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
  }

  .wrapper > div {
    grid-area: 1/1/-1/-1;
  }
  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(
      177deg,
      black 53%,
      var(--text-color) 65%
    );
    background: linear-gradient(177deg, black 53%, var(--pp-accent) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }

   /* navbar */
   #navmenu {
    padding: 0;
    margin: 0;
  }
  
  #navmenu li {
    padding: auto;
    margin: auto;
    display: inline-flex;
    justify-content: center;
  }
  
  .navbar {
    border-top: solid var(--pp-accent);
    background-color: black;
    padding: 0;
    text-align: center;
    color: var(black);
  }
  
  .navbar-inner {
    padding: auto;
    font-size: 2vmin;
  }
  
  .navbar a {
    font-size: 1.16em;
    padding: 0.9em;
    float: inherit;
    color: var(--pp-accent);
  }
  
  .navbar a:hover {
    color: var(--pp-main);
    /* box-shadow: 0 0 25px var(--pp-accent); */
    /* background-color: var(--pp-accent); */
    border-radius: 20px;
  }

  /* signin page */
  .imageBox {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .imageBox img {
    display: block;
    width: 100%;
  }
  .imageBox p {
    margin: 1rem;
  }
  .imageBox button {
    font-size: 3vmin;
  }
  .imageBoxTextarea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
    border-radius: 30px;
    font-size: 3vmin;
    text-align: center;
  }


  /* game cards */
  #grid-container {
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }

  #grid-item {
    display: flex;
    justify-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px 5px #77777738;
    border-radius: 8px;
    margin-bottom: 1em;
  }

  .GamesCard {
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
    text-align: center;
    width: 45em;
    height: 55em;
    border-radius: 10px;
    color: var(--pp-main);
    background: var(--pp-dark);
    border-top: 1px solid var(--pp-accent);
    border-right: 0.75px solid var(--pp-accent);
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(248, 0, 0, 0.774);
  }
.GamesCard p{
  font-size: 1rem;
}
  .GamesCard img {
    max-height: 30em;
    width: 35em;
    height: 28em;
    object-fit: cover;
    border-radius: 12px;
  }

  .GamesCard h3 {
    color: var(--pp-accent);
    font-size: 3em;
    font-weight: 0.5em;
  }

  /* REVIEW PAGE */
  /* singleGamePage */
  .singleGamePage-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 70rem;
    border-radius: 30px;
    position: relative;
  }

  .singleGamePage-gameTitle {
    display: block;
    place-content: center;
    z-index: 1;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .singleGamePage-gameTitle h2 {
    position: relative;
    font-size: 5vmin;
    transform: translateY(50%);
    place-self: center;
    color: var(--pp-accent);
  }

  .singleGamePage-fade {
    height: 100%;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: absolute;
    background: -webkit-linear-gradient(
      bottom,
      var(--pp-background) 15%,
      rgba(9, 240, 9, 0) 80%,
      rgba(199, 199, 199, 0.671) 100%
    );
  }

  .singleGamePage-frame img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: scale-down;
  }


  /* star rating */
  .rate {
    /* border: 1px solid #cccccc; */
    float: left;
    padding: 0 10px;
  }
  .rate:not(:checked) > input {
    position: absolute;
   visibility: hidden;
  }
  .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
  }
  .rate:not(:checked) > label:before {
    content: "★ ";
  }
  .rate > input:checked ~ label {
    color: #ffc700;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
  /* past reviews */
  .reviewCard img {
    max-width: 18px;
    border-radius: 50%;
    vertical-align: centre;
  }
  .reviewCard {
    padding: 1em;;
    border: solid 1px var(--pp-main);
    border-radius: 15px;
    background: var(--pp-dark);
    border-top: 1px solid var(--pp-accent);
    border-right: 0.75px solid var(--pp-accent);
    font-size: 1rem;
    max-width: 50%;
    margin-bottom: 0.75rem;
  }
  .reviewCard h3 {
color:rgba(231, 138, 32, 0.87);
  }

  .reviewCard-Profile img {
    max-width: 18px;
    border-radius: 50%;
    vertical-align: centre;
  }
  .reviewCard-Profile {
    padding: 1em;;
    border: solid 1px rgba(248, 248, 228, 0.87);
    border-radius: 15px;
    background: #2c292c;
    border-top: 1px solid rgba(231, 138, 32, 0.87);
    border-right: 0.75px solid rgba(231, 138, 32, 0.87);
    font-size: 1rem;
    max-width: 50%;
    margin-bottom: 0.75rem;
  }
  .reviewCard-Profile span {
    color:rgba(231, 138, 32, 0.87);
    font-weight: bold;
    font-size: 1rem;
  }
  .info-review-details {
    font-size: .7rem;
  }

  .user-review {
    background-color: #57565644;
    border-radius: 5px;
    padding: 0px 5px;
    /* display: flex; */
    justify-content: flex-start;
    /* align-items: baseline; */
  }

  .user-review p {
    color:rgba(231, 138, 32, 0.87);
    font-weight: bold;
    font-size: .75rem;
    margin: auto;
  }


  #Bio{
    width: 30rem;
  }

  .CalendarForm{
    width: 25%;
    margin: 0.7rem;
  }
  #BioArea{
      display: flex;
      align-items: center;

  }

/*color: var(--pp-accent); */

/* old colours
  --pp-main: rgba(248, 248, 228, 0.87);
--pp-dark: #2c292c;
--pp-accent: rgba(231, 138, 32, 0.87);
--pp-text-light: rgba(255, 255, 255, 0.87);
--pp-text-dark: #242424; */
